<!DOCTYPE HTML>
<html>
<head>
</head>

<body ng-app="">
<div ng-controller="Controller">
  <form novalidate class="simple-form">
    <!--Name: <input type="text" ng-model="person.name"/><br/>-->
    <!--Contribution: <input type="text" ng-model="person.contribution"/><br/>-->

    <button ng-disabled="step0" ng-click="initPersons()">Init</button>

    <button ng-disabled="step1" ng-click="crunch()">Positions</button>

    <button ng-disabled="step2" ng-click="adjustDeviatingPositions()">Adjustments</button>

    <button ng-disabled="step3" ng-click="doPayments()">Payments</button>

  </form>

  <pre>payments = </pre>
  <pre ng-repeat="payment in payments">
    creditor: {{payment.creditor}}, debtor: {{payment.debtor}}, amount: &#8364;{{payment.amount.amountFormatted}}
  </pre>

  <pre>position adjustments = </pre>
  <pre ng-repeat="adjustment in adjustments">
    from: {{adjustment.from}}, to: {{adjustment.to}}, amount: &#8364;{{adjustment.amount}}
  </pre>

  <pre>positions = </pre>
  <pre ng-repeat="person in persons" ng-show="step1">
    name: {{person.name}}, position: &#8364; {{person.position.amountFormatted}}
  </pre>

  <pre>persons = </pre>
  <pre ng-repeat="person in persons">
    name: {{person.name}}, contribution: &#8364; {{person.contribution.amountFormatted}}
  </pre>

</div>

<script src="js/library/angular.min.js"></script>
<script src="js/library/lodash.min.js"></script>
<script src="js/Money.js"></script>
<script src="js/Person.js"></script>
<script src="js/Payment.js"></script>
<script src="js/main.js"></script>

</body>

</html>